{% extends 'base.html.twig' %}

{% block title %} Ville {% endblock %}

{% block body %}

    {% for city in citys %}
        <ul>
            <li>Ville : {{ city.nom }}</li>
            <li>Code commune : {{ city.codeCommune }}</li>
            <li>Nom des habitants : {{ city.gentile }}</li>
            <li><strong>Record de température</strong> : {{ city.recordTempChaleur }}</li>
            <li>Record de basse température{{ city.recordTempFroid }}</li>
            <li>Température moyenne : {{ city.temperatureMoyenne }}</li>
        </ul>
    {% endfor %}

{% endblock %}
